#pjWrapper .pjHbContainer { padding: 15px; }
#pjWrapper .pjHbContainer select{
	-webkit-appearance: menulist-button;
}
#pjWrapper .pjHbContainer input[type="text"], 
#pjWrapper .pjHbContainer input[type="password"],
#pjWrapper .pjHbContainer input[type="email"],
#pjWrapper .pjHbContainer input[type="phone"],
#pjWrapper .pjHbContainer textarea{
	cursor: text;
}
#pjWrapper .pjHbContainer .btn{
	cursor: pointer;
}
#pjWrapper .pjHbContainer .pjHbAccommodate{
	margin-bottom: 10px;
}
#pjWrapper .pjHbContainer hr.pjHbAccommodateLimiter{
	margin-top: 7px;
	margin-bottom: 7px;
	border-color: transparent;
}
#pjWrapper .pjHbFormCheck .form-control{
	cursor: pointer;
}
#pjWrapper .pjHbPanelBooking hr{
	margin-top: 10px;
	margin-bottom: 10px;
}
#pjWrapper .pjHbProduct a.hbSelectorThumb{
	margin: 0 3px 7px 0;
}
#pjWrapper .pjHbContainer .pjHbBtnClient{float:right; margin-right: 10px;}
#pjWrapper .pjHbCalendar .input-group-addon, 
#pjWrapper .pjHbTimePick .input-group-addon { cursor: pointer; }
#pjWrapper .bootstrap-datetimepicker-widget table td span { line-height: 54px; }
#pjWrapper .pjHbContainer .pjHbBtnNav img{
	display: inline-block;
	margin-right: 2px;
	margin-bottom: 2px;
}
#pjWrapper .pjHbContainer .pjHbLanguage .dropdown-toggle img { margin-top: -1px; }
#pjWrapper .pjHbContainer .pjHbLanguage ul li{
	display: block;
	padding: 2px 0;
}
#pjWrapper .pjHbContainer .pjHbLanguage ul li:hover{
    color: #262626;
    text-decoration: none;
}
#pjWrapper .pjHbContainer .pjHbLanguage ul li img{
	margin-top: -2px; 
	margin-right: 6px;
}
#pjWrapper .pjHbContainer .pjHbLanguage ul li a{
	display: block;
	padding: 3px 12px;
}
#pjWrapper .pjHbContainer .pjHbLanguage ul li a:hover {
	background-color: transparent;
}
#pjWrapper .dropdown-menu{
	min-width: 230px !important;
}

#pjWrapper .pjHbContainer .pjHbLanguage .dropdown-menu { right: 0; left: auto; }
#pjWrapper .pjHbContainer .pjHbLanguage .dropdown-menu a { overflow: hidden; max-width: 100%; white-space: nowrap; -ms-text-overflow: ellipsis; text-overflow: ellipsis; }

#pjWrapper .has-success .form-control { border-color: #ccc; box-shadow: 0 0px 0px rgba(0, 0, 0, 0);}

#pjWrapper .form-control[disabled], 
#pjWrapper .form-control[readonly], 
#pjWrapper fieldset[disabled] .form-control { background-color: #fff; }

#pjWrapper .has-success .input-group-addon { border-color: #ccc; background-color: #eee; }

#pjWrapper .bootstrap-datetimepicker-widget .datepicker table td span:hover,
#pjWrapper .datepicker .active { background: #444; color: #fff; }

#pjWrapper .bootstrap-datetimepicker-widget table td.today:before { border-bottom-color: #444; }

/* ==========================================================================
	#RTL
========================================================================== */
[dir="rtl"] #pjWrapper .col-lg-1, [dir="rtl"] #pjWrapper .col-lg-10, [dir="rtl"] #pjWrapper .col-lg-11, [dir="rtl"] #pjWrapper .col-lg-12, [dir="rtl"] #pjWrapper .col-lg-2, [dir="rtl"] #pjWrapper .col-lg-3, [dir="rtl"] #pjWrapper .col-lg-4, [dir="rtl"] #pjWrapper .col-lg-5, [dir="rtl"] #pjWrapper .col-lg-6, [dir="rtl"] #pjWrapper .col-lg-7, [dir="rtl"] #pjWrapper .col-lg-8, [dir="rtl"] #pjWrapper .col-lg-9, [dir="rtl"] #pjWrapper .col-md-1, [dir="rtl"] #pjWrapper .col-md-10, [dir="rtl"] #pjWrapper .col-md-11, [dir="rtl"] #pjWrapper .col-md-12, [dir="rtl"] #pjWrapper .col-md-2, [dir="rtl"] #pjWrapper .col-md-3, [dir="rtl"] #pjWrapper .col-md-4, [dir="rtl"] #pjWrapper .col-md-5, [dir="rtl"] #pjWrapper .col-md-6, [dir="rtl"] #pjWrapper .col-md-7, [dir="rtl"] #pjWrapper .col-md-8, [dir="rtl"] #pjWrapper .col-md-9, [dir="rtl"] #pjWrapper .col-sm-1, [dir="rtl"] #pjWrapper .col-sm-10, [dir="rtl"] #pjWrapper .col-sm-11, [dir="rtl"] #pjWrapper .col-sm-12, [dir="rtl"] #pjWrapper .col-sm-2, [dir="rtl"] #pjWrapper .col-sm-3, [dir="rtl"] #pjWrapper .col-sm-4, [dir="rtl"] #pjWrapper .col-sm-5, [dir="rtl"] #pjWrapper .col-sm-6, [dir="rtl"] #pjWrapper .col-sm-7, [dir="rtl"] #pjWrapper .col-sm-8, [dir="rtl"] #pjWrapper .col-sm-9, [dir="rtl"] #pjWrapper .col-xs-1, [dir="rtl"] #pjWrapper .col-xs-10, [dir="rtl"] #pjWrapper .col-xs-11, [dir="rtl"] #pjWrapper .col-xs-12, [dir="rtl"] #pjWrapper .col-xs-2, [dir="rtl"] #pjWrapper .col-xs-3, [dir="rtl"] #pjWrapper .col-xs-4, [dir="rtl"] #pjWrapper .col-xs-5, [dir="rtl"] #pjWrapper .col-xs-6, [dir="rtl"] #pjWrapper .col-xs-7, [dir="rtl"] #pjWrapper .col-xs-8, [dir="rtl"] #pjWrapper .col-xs-9 { float: right; }
[dir="rtl"] #pjWrapper .pull-left { float: right !important; }
[dir="rtl"] #pjWrapper .pull-right { float: left !important; }

[dir="rtl"] #pjWrapper .pjHbPanelHead .pjHbNav .pjHbBtnNav { float: right; }
[dir="rtl"] #pjWrapper .pjHbPanelHead .pjHbLanguage { float: left !important; }
[dir="rtl"] #pjWrapper .pjHbContainer .pjHbBtnNav img { margin-right: 0; margin-left: 2px; }
[dir="rtl"] #pjWrapper .pjHbPanelHead .pjHbNav .dropdown-menu { right: 0; left: auto; }
[dir="rtl"] #pjWrapper .pjHbContainer .pjHbLanguage .dropdown-menu { right: auto; left: 0; }
[dir="rtl"] #pjWrapper .pjHbPanelHead .pjHbNav .dropdown-menu a,
[dir="rtl"] #pjWrapper .pjHbContainer .pjHbLanguage .dropdown-menu a { text-align: right !important; }
[dir="rtl"] #pjWrapper .pjHbContainer .pjHbLanguage ul li img { margin-right: 0; margin-left: 6px; }
[dir="rtl"] #pjWrapper .pjHbCalendar .form-control,
[dir="rtl"] #pjWrapper .pjHbTimePick .form-control { border-radius: 0 4px 4px 0; }
[dir="rtl"] #pjWrapper .pjHbCalendar .input-group-addon,
[dir="rtl"] #pjWrapper .pjHbTimePick .input-group-addon { border-right-width: 0; border-left: 1px solid; border-radius: 4px 0 0 4px; }
[dir="rtl"] #pjWrapper .bootstrap-datetimepicker-widget .list-unstyled { padding-right: 0; }
[dir="rtl"] #pjWrapper .bootstrap-datetimepicker-widget .next,
[dir="rtl"] #pjWrapper .bootstrap-datetimepicker-widget .prev { -webkit-transform: rotate(180deg); -ms-transform: rotate(180deg); -o-transform: rotate(180deg); transform: rotate(180deg); }
[dir="rtl"] #pjWrapper .pjHbProduct .input-group .form-control { border-radius: 4px 0 0 4px; }
[dir="rtl"] #pjWrapper .pjHbProduct .input-group .input-group-addon { border-left-width: 0; border-right: 1px solid; border-radius: 0 4px 4px 0; }
[dir="rtl"] #pjWrapper .pjHbProduct .table th,
[dir="rtl"] #pjWrapper .pjHbProduct .table td { text-align: right; }
[dir="rtl"] #pjWrapper .pjHbProduct .table th.text-right,
[dir="rtl"] #pjWrapper .pjHbProduct .table td.text-right { text-align: left; }
[dir="rtl"] #pjWrapper .pjHbProduct p.text-right { text-align: left; }
[dir="rtl"] #pjWrapper .pjHbPanelBooking .text-right,
[dir="rtl"] #pjWrapper .pjHbExtras .text-right { text-align: left; }
[dir="rtl"] #pjWrapper .col-sm-offset-6 { margin-right: 50%; margin-left: 0; }
[dir="rtl"] #pjWrapper .form-horizontal .control-label,
[dir="rtl"] #pjWrapper .pjHbFormCheckOut .control-label,
[dir="rtl"] #pjWrapper .hbRoomsButtons .text-right,
[dir="rtl"] #pjWrapper .pjHbFormCheckOut .text-right,
[dir="rtl"] #pjWrapper .hbForm .text-right { text-align: left; }

@media only screen and (max-width: 767px) {
	/* ==========================================================================
		#RTL
	========================================================================== */
	[dir="rtl"] #pjWrapper .col-sm-offset-6 { margin-right: 0; }
	[dir="rtl"] #pjWrapper .pjHbFormCheckOut .control-label { text-align: right; }
	[dir="rtl"] #pjWrapper .form-control-static { text-align: left; }
	#pjWrapper .pjHbContainer .pjHbBtnClient{margin-right: 0px; margin-top: 10px;}
}

@media (max-width: 480px) {
	#pjWrapper select.form-control.hbSelectorPeople {
		width: 60px;
	}

	#pjWrapper .hbSelectorSearchForm .col-xs-6 { width: 100%; }
	
	/* ==========================================================================
		#RTL
	========================================================================== */
	[dir="rtl"] #pjWrapper .pjHbPanelHead .pjHbNav .dropdown-menu { right: auto; left: 0; }
}

@media (min-width: 320px){
	#pjWrapper .pjHbPanelHead div[class^='col-']:nth-child(2) .pjHbBtnNav,
	#pjWrapper .pjHbPanelHead div[class^='col-']:nth-child(2) .dropdown-menu{
		width: 100% !important;
	}
	#pjWrapper .pjHbPanelHead div[class^='col-']:nth-child(2) .pjHbNav{
		width: 100% !important;
	}
	#pjWrapper .pjHbPanelHead div[class^='col-']:nth-child(2) .pjHbBtnNav{
		max-width: 100%;
	}
	#pjWrapper .pjHbPanelHead div[class^='col-']:last-child{
		padding-top: 10px;
	}
	#pjWrapper .pjHbPanelHead div[class^='col-']:last-child .pjHbLanguage,
	#pjWrapper .pjHbPanelHead div[class^='col-']:last-child .pjHbBtnNav,
	#pjWrapper .pjHbPanelHead div[class^='col-']:last-child .dropdown-menu{
		width: 100% !important;
	}
}
@media (min-width: 768px) {
	#pjWrapper .pjHbPanelHead div[class^='col-']:last-child{
		padding-top: inherit;
	}
	#pjWrapper .pjHbPanelHead div[class^='col-']:first-child .pjHbBtnHome,
	#pjWrapper .pjHbPanelHead div[class^='col-']:nth-child(2) .pjHbBtnNav,
	#pjWrapper .pjHbPanelHead div[class^='col-']:nth-child(2) .dropdown-menu,
	#pjWrapper .pjHbPanelHead div[class^='col-']:last-child .pjHbLanguage,
	#pjWrapper .pjHbPanelHead div[class^='col-']:last-child .pjHbBtnNav,
	#pjWrapper .pjHbPanelHead div[class^='col-']:last-child .dropdown-menu{
		width: auto !important;
	}
	#pjWrapper .pjHbPanelHead div[class^='col-']:last-child .pjHbLanguage{
		float: right;
	}
}