/* ==========================================================================
	#General
========================================================================== */
#pjWrapper { background: #2b1b02; }
#pjWrapper hr { border-color: #ffd55d; }

#pjWrapper .pjHbContainer a { color: #f65a1f; }
#pjWrapper .pjHbContainer a:hover { color: #f66d39; }

#pjWrapper .form-control { border-color: #3c270a; background: #3c270a; color: #f1f2ed; }
#pjWrapper .form-control:focus { -webkit-box-shadow: 0 0 10px rgba(255, 255, 255, .3); box-shadow: 0 0 10px rgba(255, 255, 255, .3); }

#pjWrapper select.form-control { background-repeat: no-repeat !important; background-position: center right !important; -webkit-appearance: none !important; -moz-appearance: none !important; appearance: none !important; }

#pjWrapper select.form-control::-ms-expand { display: none; }

/* ==========================================================================
	#pjHbPanel
========================================================================== */
#pjWrapper .pjHbPanel { border-color: #2b1b02; background: #2b1b02; }
#pjWrapper .pjHbPanel .pjHbPanelHead { border-bottom: 0; background: #1a1004; }
#pjWrapper .pjHbPanel .pjHbPanelBody { background: #3c270a; }
#pjWrapper .form-horizontal .form-group label.control-label{color: #8f9092;}
#pjWrapper .form-horizontal .form-group p.form-control-static{color: #f1f2ed;}
/* ==========================================================================
	#Buttons
========================================================================== */
#pjWrapper .pjHbContainer .btn-default { border-color: #f65a1f; background: #f65a1f; color: #fff; text-transform: uppercase; }
#pjWrapper .pjHbContainer .btn-default:hover { border-color: #f66d39; background: #f66d39; color: #fff; }

#pjWrapper .pjHbContainer .pjHbBtnHome,
#pjWrapper .pjHbContainer .pjHbBtnNav { border: 0; background: none; color: #f1f2ed; font-weight: bold; }
#pjWrapper .pjHbContainer .pjHbBtnHome:hover,
#pjWrapper .pjHbContainer .pjHbBtnNav:hover { border: 0; background: none; color: #fff; }

#pjWrapper .pjHbContainer .pjHbNav .dropdown-menu,
#pjWrapper .pjHbContainer .pjHbLanguage .dropdown-menu { background: #2b1b02; }
#pjWrapper .pjHbContainer .pjHbNav .pjHbBtnPassed { color: #fdd35b; }
#pjWrapper .pjHbContainer .pjHbNav .pjHbBtnActive,
#pjWrapper .pjHbContainer .pjHbLanguage .pjHbBtnActive { color: #f65a1f; }
#pjWrapper .pjHbNav .pjHbBtn.disabled,
#pjWrapper .pjHbLanguage .dropdown-menu a { color: #fdd35b; }
#pjWrapper .pjHbLanguage .dropdown-menu a:hover,
#pjWrapper .pjHbContainer .pjHbNav .pjHbBtn:hover { color: #000; }

#pjWrapper .pjHbContainer .pjHbLanguage ul li a:hover,
#pjWrapper .pjHbContainer .pjHbLanguage ul li a:focus,
#pjWrapper .pjHbContainer .pjHbLanguage .pjHbBtnActive { background: #f65a1f; color: #fff; }

/* ==========================================================================
	#pjHbPanelBody
========================================================================== */
#pjWrapper .pjHbPanelBody { color: #8f9092; }
#pjWrapper .pjHbPanelTitle { color: #f1f2ed; text-transform: uppercase; text-align: center; }

/* ==========================================================================
	#pjHbFormCheck
========================================================================== */
#pjWrapper .pjHbFormCheck label { color: #8f9092; }
#pjWrapper .pjHbFormCheck .form-control { border-color: #251d10; background: #251d10; }
#pjWrapper .pjHbCalendar .input-group-addon,
#pjWrapper .pjHbTimePick .input-group-addon { border-color: #312108; background: #312108; }
#pjWrapper .pjHbCalendar .input-group-addon,
#pjWrapper .pjHbTimePick .input-group-addon { color: #fdd35b; }
#pjWrapper .pjHbCalendar .input-group-addon:hover,
#pjWrapper .pjHbTimePick .input-group-addon:hover { color: #f65a1f; }

/* ==========================================================================
	#pjHbProduct
========================================================================== */
#pjWrapper .pjHbProduct { border-color: #2b1b02; background: #2b1b02; }
#pjWrapper .pjHbProduct .panel-heading { border-color: #312108; background: #312108; color: #fdd35b; text-transform: uppercase; }
#pjWrapper .pjHbProduct .panel-body { background: #3c270a; color: #8f9092; }
#pjWrapper .pjHbProduct .input-group-addon { border-color: #312108; background: #312108; color: #f1f2ed; }
#pjWrapper .pjHbProduct .form-control { border-color: #251d10; background: #251d10; }
#pjWrapper .pjHbProductPrice { color: #fff; font-weight: bold; }
#pjWrapper .pjHbProduct .table-responsive tr,
#pjWrapper .pjHbProduct .table-responsive th,
#pjWrapper .pjHbProduct .table-responsive td { border-color: #fdd35b; }
#pjWrapper .pjHbProduct .well { border-color: #2b1b02; background: #312108; }

/* ==========================================================================
	#pjHbPanelBooking
========================================================================== */
#pjWrapper .pjHbPanelBooking a { color: #fff; }
#pjWrapper .pjHbPanelBookingTitle { color: #fdd35b; }
#pjWrapper .pjHbPanelBooking { color: #8f9092; }
#pjWrapper .pjHbPanelBooking .pjHbPanelBookingMeta,
#pjWrapper .pjHbPanelBooking strong { color: #fff; }

/* ==========================================================================
	#pjHbExtras
========================================================================== */
#pjWrapper .pjHbExtras p,
#pjWrapper .pjHbExtras .table-responsive { color: #8f9092; }
#pjWrapper .pjHbExtras .table-responsive tr,
#pjWrapper .pjHbExtras .table-responsive th,
#pjWrapper .pjHbExtras .table-responsive td { border-color: #8f9092; }
#pjWrapper .pjHbExtrasTitle { color: #f1f2ed; }
#pjWrapper .pjHbExtraPrice { color: #fff; }

/* ==========================================================================
	#pjHbFormCheckOut
========================================================================== */
#pjWrapper .pjHbFormCheckOut { color: #8f9092; }
#pjWrapper .pjHbFormCheckOutTitle { color: #fdd35b; text-transform: uppercase; text-align: center; }
#pjWrapper .pjHbFormCheckOut .control-label { color: #8f9092; }
#pjWrapper .pjHbTimePicker .input-group-addon { border-color: #312108; background: #312108; color: #f1f2ed; cursor: pointer; }

/* ==========================================================================
	#pjHbPanelBodyLast
========================================================================== */
#pjWrapper .pjHbPanelBodyLast { color: #8f9092; }

/* ==========================================================================
	#bootstrap-datetimepicker-widget
========================================================================== */
#pjWrapper .bootstrap-datetimepicker-widget { background: #1a1004; }
#pjWrapper .bootstrap-datetimepicker-widget .timepicker-hour,
#pjWrapper .bootstrap-datetimepicker-widget .minute,
#pjWrapper .bootstrap-datetimepicker-widget .hour,
#pjWrapper .bootstrap-datetimepicker-widget .timepicker-minute { color: #fff; }
#pjWrapper .bootstrap-datetimepicker-widget .timepicker-hour:hover,
#pjWrapper .bootstrap-datetimepicker-widget .minute:hover,
#pjWrapper .bootstrap-datetimepicker-widget .hour:hover,
#pjWrapper .bootstrap-datetimepicker-widget .timepicker-minute:hover { color: #1a1004; }
#pjWrapper .bootstrap-datetimepicker-widget.dropdown-menu.top:after { border-top-color: #1a1004 !important; }
#pjWrapper .bootstrap-datetimepicker-widget.dropdown-menu.bottom:after { border-bottom-color: #1a1004 !important; }

/* ==========================================================================
	#RTL
========================================================================== */
[dir="rtl"] #pjWrapper select.form-control { background-position: 5px center !important; }

[dir="rtl"] #pjWrapper .pjHbCalendar .input-group-addon,
[dir="rtl"] #pjWrapper .pjHbTimePick .input-group-addon { border-left-color: #312108; }

[dir="rtl"] #pjWrapper .pjHbProduct .input-group .input-group-addon { border-right-color: #312108; }

#pjWrapper .bootstrap-datetimepicker-widget .datepicker table td span:hover,
#pjWrapper .datepicker .active { background: #f65a1f; color: #fff;}

#pjWrapper .datepicker .day:hover { background-color: #fdd35b; color: #1a1004; }

#pjWrapper .bootstrap-datetimepicker-widget table td.today:before { border-bottom-color: #f65a1f; color: #fff;}