/* ==========================================================================
	#General
========================================================================== */
#pjWrapper .pjHbContainer a { color: #d21e1f; }
#pjWrapper .pjHbContainer a:hover { color: #b01011; }

/* ==========================================================================
	#pjHbPanel
========================================================================== */
#pjWrapper .pjHbPanel .pjHbPanelHead { background: #f7f7f7; }
#pjWrapper .pjHbPanel .pjHbPanelBody { background: #fff; }

/* ==========================================================================
	#Buttons
========================================================================== */
#pjWrapper .pjHbContainer .btn-default { border-color: #073163; color: #fff; text-transform: uppercase; 
	background: rgb(25,70,127);
	background: -moz-linear-gradient(top,  rgba(25,70,127,1) 0%, rgba(25,71,123,1) 3%, rgba(24,69,126,1) 5%, rgba(23,68,125,1) 13%, rgba(20,66,118,1) 37%, rgba(17,58,110,1) 66%, rgba(13,55,105,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(25,70,127,1)), color-stop(3%,rgba(25,71,123,1)), color-stop(5%,rgba(24,69,126,1)), color-stop(13%,rgba(23,68,125,1)), color-stop(37%,rgba(20,66,118,1)), color-stop(66%,rgba(17,58,110,1)), color-stop(100%,rgba(13,55,105,1)));
	background: -webkit-linear-gradient(top,  rgba(25,70,127,1) 0%,rgba(25,71,123,1) 3%,rgba(24,69,126,1) 5%,rgba(23,68,125,1) 13%,rgba(20,66,118,1) 37%,rgba(17,58,110,1) 66%,rgba(13,55,105,1) 100%);
	background: -o-linear-gradient(top,  rgba(25,70,127,1) 0%,rgba(25,71,123,1) 3%,rgba(24,69,126,1) 5%,rgba(23,68,125,1) 13%,rgba(20,66,118,1) 37%,rgba(17,58,110,1) 66%,rgba(13,55,105,1) 100%);
	background: -ms-linear-gradient(top,  rgba(25,70,127,1) 0%,rgba(25,71,123,1) 3%,rgba(24,69,126,1) 5%,rgba(23,68,125,1) 13%,rgba(20,66,118,1) 37%,rgba(17,58,110,1) 66%,rgba(13,55,105,1) 100%);
	background: linear-gradient(to bottom,  rgba(25,70,127,1) 0%,rgba(25,71,123,1) 3%,rgba(24,69,126,1) 5%,rgba(23,68,125,1) 13%,rgba(20,66,118,1) 37%,rgba(17,58,110,1) 66%,rgba(13,55,105,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#19467f', endColorstr='#0d3769',GradientType=0 );
}
#pjWrapper .pjHbContainer .btn-default:hover { border-color: #073163; color: #fff; 
	background: rgb(13,55,105);
	background: -moz-linear-gradient(top,  rgba(13,55,105,1) 0%, rgba(17,58,110,1) 34%, rgba(20,66,118,1) 63%, rgba(23,68,125,1) 87%, rgba(24,69,126,1) 95%, rgba(25,71,123,1) 97%, rgba(25,70,127,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(13,55,105,1)), color-stop(34%,rgba(17,58,110,1)), color-stop(63%,rgba(20,66,118,1)), color-stop(87%,rgba(23,68,125,1)), color-stop(95%,rgba(24,69,126,1)), color-stop(97%,rgba(25,71,123,1)), color-stop(100%,rgba(25,70,127,1)));
	background: -webkit-linear-gradient(top,  rgba(13,55,105,1) 0%,rgba(17,58,110,1) 34%,rgba(20,66,118,1) 63%,rgba(23,68,125,1) 87%,rgba(24,69,126,1) 95%,rgba(25,71,123,1) 97%,rgba(25,70,127,1) 100%);
	background: -o-linear-gradient(top,  rgba(13,55,105,1) 0%,rgba(17,58,110,1) 34%,rgba(20,66,118,1) 63%,rgba(23,68,125,1) 87%,rgba(24,69,126,1) 95%,rgba(25,71,123,1) 97%,rgba(25,70,127,1) 100%);
	background: -ms-linear-gradient(top,  rgba(13,55,105,1) 0%,rgba(17,58,110,1) 34%,rgba(20,66,118,1) 63%,rgba(23,68,125,1) 87%,rgba(24,69,126,1) 95%,rgba(25,71,123,1) 97%,rgba(25,70,127,1) 100%);
	background: linear-gradient(to bottom,  rgba(13,55,105,1) 0%,rgba(17,58,110,1) 34%,rgba(20,66,118,1) 63%,rgba(23,68,125,1) 87%,rgba(24,69,126,1) 95%,rgba(25,71,123,1) 97%,rgba(25,70,127,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d3769', endColorstr='#19467f',GradientType=0 );
}

#pjWrapper .pjHbContainer .pjHbBtnHome,
#pjWrapper .pjHbContainer .pjHbBtnNav { border-color: #bfbbbc; color: #6788b3; 
	background: rgb(255,255,255);
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(249,247,248,1) 60%, rgba(246,245,243,1) 70%, rgba(248,244,243,1) 80%, rgba(245,241,240,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(60%,rgba(249,247,248,1)), color-stop(70%,rgba(246,245,243,1)), color-stop(80%,rgba(248,244,243,1)), color-stop(100%,rgba(245,241,240,1)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(249,247,248,1) 60%,rgba(246,245,243,1) 70%,rgba(248,244,243,1) 80%,rgba(245,241,240,1) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(249,247,248,1) 60%,rgba(246,245,243,1) 70%,rgba(248,244,243,1) 80%,rgba(245,241,240,1) 100%);
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(249,247,248,1) 60%,rgba(246,245,243,1) 70%,rgba(248,244,243,1) 80%,rgba(245,241,240,1) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(249,247,248,1) 60%,rgba(246,245,243,1) 70%,rgba(248,244,243,1) 80%,rgba(245,241,240,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f1f0',GradientType=0 );
}

#pjWrapper .pjHbContainer .pjHbBtnHome:hover,
#pjWrapper .pjHbContainer .pjHbBtnNav:hover { border-color: #bfbbbc; color: #6788b3; 
	background: rgb(245,241,240);
	background: -moz-linear-gradient(top,  rgba(245,241,240,1) 0%, rgba(248,244,243,1) 20%, rgba(246,245,243,1) 30%, rgba(249,247,248,1) 40%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(245,241,240,1)), color-stop(20%,rgba(248,244,243,1)), color-stop(30%,rgba(246,245,243,1)), color-stop(40%,rgba(249,247,248,1)), color-stop(100%,rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top,  rgba(245,241,240,1) 0%,rgba(248,244,243,1) 20%,rgba(246,245,243,1) 30%,rgba(249,247,248,1) 40%,rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top,  rgba(245,241,240,1) 0%,rgba(248,244,243,1) 20%,rgba(246,245,243,1) 30%,rgba(249,247,248,1) 40%,rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top,  rgba(245,241,240,1) 0%,rgba(248,244,243,1) 20%,rgba(246,245,243,1) 30%,rgba(249,247,248,1) 40%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom,  rgba(245,241,240,1) 0%,rgba(248,244,243,1) 20%,rgba(246,245,243,1) 30%,rgba(249,247,248,1) 40%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f1f0', endColorstr='#ffffff',GradientType=0 );
}

#pjWrapper .pjHbContainer .pjHbNav .pjHbBtnPassed,
#pjWrapper .pjHbContainer .pjHbLanguage a { color: #d21e1f; }
#pjWrapper .pjHbContainer .pjHbNav .pjHbBtnActive,
#pjWrapper .pjHbContainer .pjHbLanguage .pjHbBtnActive { color: #073163; }

#pjWrapper .pjHbContainer .pjHbLanguage ul li a:hover,
#pjWrapper .pjHbContainer .pjHbLanguage ul li a:focus,
#pjWrapper .pjHbContainer .pjHbLanguage .pjHbBtnActive { background: #073163; color: #fff; }

/* ==========================================================================
	#pjHbPanelBody
========================================================================== */
#pjWrapper .pjHbPanelTitle { color: #6788b3; text-transform: uppercase; text-align: center; }

/* ==========================================================================
	#pjHbFormCheck
========================================================================== */
#pjWrapper .pjHbFormCheck label { color: #4d4d4d; }
#pjWrapper .pjHbCalendar .input-group-addon,
#pjWrapper .pjHbTimePick .input-group-addon { color: #d21e1f; }
#pjWrapper .pjHbCalendar .input-group-addon:hover,
#pjWrapper .pjHbTimePick .input-group-addon:hover { color: #073163; }

/* ==========================================================================
	#pjHbProduct
========================================================================== */
#pjWrapper .pjHbProduct .panel-heading { background: #edf0f5; color: #6788b3; text-transform: uppercase; }
#pjWrapper .pjHbProduct .panel-body { background: #f9f9f9; color: #4d4d4d; }
#pjWrapper .pjHbProduct .input-group-addon { color: #6788b3; }
#pjWrapper .pjHbProductPrice { color: #d21e1f; font-weight: bold; }

/* ==========================================================================
	#pjHbPanelBooking
========================================================================== */
#pjWrapper .pjHbPanelBooking a { color: #d21e1f; }
#pjWrapper .pjHbPanelBookingTitle { color: #6788b3; }
#pjWrapper .pjHbPanelBooking { color: #4d4d4d; }
#pjWrapper .pjHbPanelBooking .pjHbPanelBookingMeta,
#pjWrapper .pjHbPanelBooking strong { color: #343839; }

/* ==========================================================================
	#pjHbExtras
========================================================================== */
#pjWrapper .pjHbExtras p,
#pjWrapper .pjHbExtras .table-responsive { color: #4d4d4d; }
#pjWrapper .pjHbExtrasTitle { color: #6788b3; }
#pjWrapper .pjHbExtraPrice { color: #343839; }

/* ==========================================================================
	#pjHbFormCheckOut
========================================================================== */
#pjWrapper .pjHbFormCheckOutTitle { color: #6788b3; text-transform: uppercase; text-align: center; }
#pjWrapper .pjHbFormCheckOut .control-label { color: #4d4d4d; }
#pjWrapper .pjHbTimePicker .input-group-addon { color: #6788b3; cursor: pointer; }

/* ==========================================================================
	#pjHbPanelBodyLast
========================================================================== */
#pjWrapper .pjHbPanelBodyLast { color: #4d4d4d; }

/* ==========================================================================
	#RTL
========================================================================== */
[dir="rtl"] #pjWrapper .pjHbCalendar .input-group-addon,
[dir="rtl"] #pjWrapper .pjHbTimePick .input-group-addon { border-left-color: #ccc; }
[dir="rtl"] #pjWrapper .pjHbCalendar.has-success .input-group-addon,
[dir="rtl"] #pjWrapper .has-success .pjHbTimePick .input-group-addon { border-left-color: #3c763d; }
[dir="rtl"] #pjWrapper .pjHbCalendar.has-error .input-group-addon,
[dir="rtl"] #pjWrapper .has-error .pjHbTimePick .input-group-addon { border-left-color: #a94442; }

[dir="rtl"] #pjWrapper .pjHbProduct .input-group .input-group-addon { border-right-color: #ccc; }
[dir="rtl"] #pjWrapper .pjHbProduct .has-success .input-group .input-group-addon { border-right-color: #3c763d; }
[dir="rtl"] #pjWrapper .pjHbProduct .has-error .input-group .input-group-addon { border-right-color: #a94442; }


#pjWrapper .bootstrap-datetimepicker-widget .datepicker table td span:hover,
#pjWrapper .datepicker .active { background: #073163; }

#pjWrapper .bootstrap-datetimepicker-widget table td.today:before { border-bottom-color: #073163; }